[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
numpy = "*"
keras = "*"
requests = "*"
tensorflow = "==2.12.0"
pillow = "*"
"2.12.0" = "*"

[dev-packages]

[requires]
python_version = "3.11"
